*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #01B0F1;
    --color2: #fff;
    --color3:#00101F;
    --font1: 'Montserrat', sans-serif;
}

.tudo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-image: url(img/bg\ \(2\).png); 
    font-family: var(--font1);
}

.lado_esquerdo {
    background-color: rgb(0, 0,0,0.5);
    width: 50%;
    height: 100vh;
}

.banner_adm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    border-radius: 0 80px 80px 0;
    background-color: var(--color1);
    width: 800px;
    color: var(--color2);
    font-size: 35px;
    font-family: var(--font1);
}

.descrição_texto {
    font-size: 40px;
    color: #fff;
    margin-top: 100px;
    width: 80%;
    margin-left: 80px;
    font-family: var(--font1);
}

.text {
    display: flex;
    height: 30%;
    align-items: end;
}

.text span{
    color: var(--color2);
    text-align: end;
    margin: 0 5% 0 50%;
}
.banner_adm img {
    width: 110px;
    margin-left: 50px;
}

.lado_direito{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.login {
    color: var(--color2);
    font-size: 30px;
    margin-right: 250px;
    margin-top: 150px;
}

.acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-top: 60px;
}

input::placeholder{
    color: var(--color2);
    font-size: 18px;
    font-family: var(--font1);
}

.acesso input {
    border-radius: 35px;
    height: 70px;   
    border-color: var(--color2);
    padding: 15px;
    color: var(--color2);
    width: 300px;
    margin-top: 25px;
    background: linear-gradient(94.31deg, rgba(255, 255, 255, 0.25) -8.53%, rgba(0, 61, 115, 0.25) 116.35%);
}

.teste_botao input{
    height: 70px;
}

.botao {    
    font-size: 25px;
    text-align: center;
    color: var(--color3);
    margin-top: 50px;
    text-decoration: none;
    width: 200px;
    border-radius: 42px;
    padding: 12px;
    margin: 40px;
    font-family: var(--font1);
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
}

.seta_footer img {
    width: 40px;
}

.seta_footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03293b80; 
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}

.seta_footer:hover {
    background-color:var(--color3);
}

.text {
    color: var(--color2) 50%;

}