*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1: #01B0F1;
    --color2: #fff;
    --color3:#00101F;
    --font1: 'Montserrat', sans-serif;
}

.tudo{
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-image: url(imgs/bg.png);
}

.lado_esquerdo{
    background-color: rgb(0, 0,0,0.5);
    width: 50%;
    height: 100vh;
}

.banner_adm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    border-radius: 0 80px 80px 0;
    background-color: var(--color1);
    width: 800px;
    color: var(--color2);
    font-size: 35px;
    font-family: var(--font1);
}

.descrição_texto{
    font-size: 40px;
    color: #fff;
    margin-top: 100px;
    width: 80%;
    margin-left: 80px;
    font-family: var(--font1);
}

.banner_adm img{
    width: 120px;
}

.login, .botao{
    color: var(--color2);
    font-size: 30px;
    margin-right: 250px;
    margin-top: 150px;
}

.acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 100px;
    margin-top: 120px;
}

input::placeholder{
    color: var(--color2);
}

.acesso input{
    border-radius: 50px;
    border-color: var(--color2);
    padding: 20px;
    background-color: black;
    color: var(--color2);
}

.input, label{
    padding: 5%;
}

.botao {    
    font-size: 25px;
    text-align: center;
    color: var(--color3);
    margin-top: 50px;
    text-decoration: none;
    width: 150px;
    border-radius: 42px;
    padding: 12px;
    margin: 40px;
    background: linear-gradient(94.31deg, #01B0F1 -8.53%, #35BDF5 38.95%, #B1DBFF 116.35%);
}

.seta_footer img{
    width: 40px;
}
.seta_footer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03293b80; 
    width: 100%;
    height: 50px;
}
